@import '../config/variables';

$component-selector: app-icon;

.#{$component-selector} {
  background-size: cover;
  border-radius: $border-radius * 2;
  box-shadow: 0 $spacer / 4 $spacer * 1.5 rgba($color-black, 0.1);
  height: $spacer * 6;
  width: $spacer * 6;

  @media screen and (max-width: $width-mobile) {
    height: $spacer * 4;
    width: $spacer * 4;
  }
}
