@import '../config/variables';
@import '../mixins/font-size';
@import '../mixins/line-height';

$component-selector: app-detail;

.#{$component-selector} {
  align-items: center;
  background: $color-white;
  box-sizing: border-box;
  color: $color-blackType;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  overflow-y: auto;
  width: 100%;

  h2 {
    @include font-size(3.2);
    @include line-height(3.6);

    font-weight: bold;

    @media screen and (max-width: $width-tablet) {
      @include font-size(2.8);
      @include line-height(3.2);
    }
  }

  p {
    @include font-size(1.8);
    @include line-height(2.6);

    color: $color-grey;

    @media screen and (max-width: $width-mobile) {
      @include font-size(1.6);
      @include line-height(2.4);
    }
  }
}
