@import '../config/variables';
@import '../mixins/transition';

$component-selector: block-button;

.#{$component-selector} {
  @include transition('background-color');

  background: $color-tertiary;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $color-white;
  display: block;
  font-weight: bold;
  height: 100%;
  letter-spacing: -1px;
  padding: $spacer / 2 $spacer;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background: darken($color-tertiary, 10%);
  }
}

@each $color, $value in $colors {
  .#{$component-selector}.#{$component-selector}--#{$color} {
    background-color: $value;

    @if (lightness($value) > 70) {
      color: $color-blackType;
    }

    &:hover {
      background: darken($value, 10%);
    }
  }
}
