@import '../config/variables';
@import '../mixins/transition';

$component-selector: navigation-toggle;

.#{$component-selector} {
  align-items: center;
  background: $color-white;
  display: flex;
  height: $spacer * 5;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: $spacer * 5;
  z-index: 30;

  span {
    @include transition(background, $duration-base * 3);

    display: block;
    background: $color-secondary;
    height: $spacer / 4;
    width: $spacer * 2;
    position: relative;

    &::after,
    &::before {
      @include transition(#{'top, bottom, transform'}, $duration-base * 3);

      background: $color-secondary;
      content: '';
      display: block;
      height: $spacer / 4;
      position: absolute;
      width: $spacer * 2;
    }

    &::after {
      bottom: -$spacer / 2;
    }

    &::before {
      top: -$spacer / 2;
    }
  }

  &--navigation-active {
    span {
      background: transparent;

      &::after {
        bottom: 0;
        transform: rotate(405deg);
      }

      &::before {
        top: 0;
        transform: rotate(-405deg);
      }
    }
  }

  @media print {
    display: none;
  }
}
