@import '../config/variables';

$component-selector: overlay;

.#{$component-selector} {
  @include transition(opacity);

  background: rgba($color-primary, 0.7);
  display: block;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;

  &--active {
    opacity: 1;
    pointer-events: auto;
    height: 3000%; // TODO: this arbitrary to fit most pages;
  }
}
