@import '../mixins/font-size';
@import '../mixins/line-height';
@import '../config/variables';

$component-selector: splash;

.#{$component-selector} {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: $color-primary;

  &__content {
    padding: $spacer * 2;
    text-align: center;
  }

  .brand-logo {
    height: $spacer * 13;

    .#{$class-app-ready} & {
      @extend .animated;
      @extend .bounceIn;

      animation-duration: $duration-base * 2;
      animation-delay: $duration-base * 2;
    }

    @media screen and (max-width: $width-mobile) {
      height: $spacer * 7;
    }
  }

  .brand-title {
    @include font-size(8);
    @include line-height(8);

    left: -3px;
    color: $color-white;
    position: relative;

    span {
      color: $color-secondary;
    }

    @media screen and (max-width: $width-mobile) {
      @include font-size(5);
      @include line-height(5);

      letter-spacing: -3px;
    }
  }

  .brand-tagline {
    @include font-size(1.3);
    @include line-height(1.1);

    margin-bottom: $spacer * 2;

    .#{$class-app-ready} & {
      @extend .animated;
      @extend .fadeInUp;

      animation-duration: $duration-base * 2;
      animation-delay: $duration-base * 2;
    }

    span {
      @include font-size(0.9);

      font-weight: bolder;
    }

    @media screen and (max-width: $width-mobile) {
      @include line-height(1.3);

      margin-bottom: $spacer;
    }
  }
}
