@import '../config/variables';
@import '../mixins/transition';
@import '../mixins/font-size';
@import '../mixins/line-height';

$component-selector: app-detail-hero;

.#{$component-selector} {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    max-width: $width-desktop;
    padding: $spacer * 7 $spacer * 2 0;

    &__content {
        flex: 1;

        .app-title {
            @extend .animated;
            @extend .fadeIn;

            margin-bottom: $spacer * 8;
            animation-delay: $duration-base * 2;

            @media screen and (max-width: $width-tablet) {
                margin-bottom: $spacer * 4;
            }

            @media screen and (max-width: $width-mobile) {
                margin-bottom: $spacer * 2;
            }
        }

        &__leader {
            @extend .animated;
            @extend .fadeIn;

            animation-delay: $duration-base * 2.3;
            margin-bottom: $spacer * 4;

            h1 {
                @include font-size(5.6);
                @include line-height(6);

                font-weight: 100;
                margin-bottom: $spacer * 4;

                @media screen and (max-width: $width-tablet) {
                    margin-bottom: $spacer * 2;
                }

                @media screen and (max-width: $width-tablet) {
                    @include font-size(4.2);
                    @include line-height(4.8);
                }
            }

            p {
                color: $color-blackType;
            }

            @media screen and (max-width: $width-tablet) {
                margin-bottom: $spacer * 2;
            }
        }

        &__store-links {
            @extend .animated;
            @extend .fadeIn;

            animation-delay: $duration-base * 2.6;
            margin-bottom: $spacer * 8;

            a {
                @include transition(#{'color, background-color'});
                @include font-size(1.8);
                @include line-height(2.2);

                padding: $spacer;
                border: $border-width solid $color-tertiary;
                border-radius: $border-radius;
                text-decoration: none;
                margin-left: $spacer;
                display: inline-block;

                &:hover {
                    color: $color-white;
                    background-color: $color-tertiary;
                }

                &:first-child {
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $width-tablet) {
                margin-bottom: $spacer * 4;
            }
        }
    }

    &__image {
        @extend .animated;
        @extend .fadeIn;

        animation-delay: $duration-base * 2.9;
        flex: 1;
        max-width: $width-mobile-small;
        width: 100%;
        display: flex;

        > div {
            background-size: cover;
            height: 100%;
            width: 100%;
            flex: 1;

            @media screen and (max-width: $width-tablet) {
                height: $width-mobile;
            }
        }
    }

    @media screen and (max-width: $width-tablet) {
        flex-direction: column;
        padding-top: $spacer * 5;
        text-align: center;
        align-items: center;
    }
}
