@import '../config/variables';

$component-selector: app-icon;

.#{$component-selector} {
    border-radius: $border-radius * 2;
    background-size: cover;
    height: $spacer * 6;
    width: $spacer * 6;

    @media screen and (max-width: $width-mobile) {
        height: $spacer * 4;
        width: $spacer * 4;
    }
}
