@import '../config/variables';

$component-selector: app-header;

.#{$component-selector} {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    margin-bottom: $spacer * 2;
    width: 100%;
}
