@import '../config/variables';
@import '../mixins/make-grid';

$selector: grid;

.#{$selector} {
    @include make-grid();

    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .column {
        box-sizing: border-box;
        min-height: 1px; // Prevent collapsing
        padding-left: $grid-gutter / 2;
        padding-right: $grid-gutter / 2;
        position: relative;
        width: 100%;
    }

    .grid {
        padding: 0;
    }

    .row {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin-left: -$grid-gutter / 2;
        margin-right: -$grid-gutter / 2;
    }
}

.#{$selector}.#{$selector}--max-width {
    max-width: $width-max;
}
