@import '../mixins/font-size';
@import '../mixins/line-height';
@import '../config/variables';

$component-selector: invoice;

.#{$component-selector} {
    background: $color-white;
    max-width: $width-max;
    margin: 0 auto;

    h1 {
        @include font-size(1.4);
        @include line-height(1.4);

        letter-spacing: -1px;
        margin-bottom: $spacer / 2;
    }

    h2 {
        @include font-size(1.2);
        @include line-height(1.2);

        margin-bottom: $spacer / 4;
    }
}
