@import '../config/variables';

$component-selector: spinner;

@keyframes preloader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.#{$component-selector} {
    margin: 0 auto;
    max-width: $spacer * 7;
    width: 100%;

    &__background {
        stroke: rgba($color-black, 0.1);
    }

    &__foreground {
        animation: preloader-spin $duration-base * 4 linear infinite;
        stroke-dasharray: 50%, 200%;
        stroke: $color-white;
        transform-origin: 40px 40px;
    }

    path {
        fill: none;
        stroke-width: $spacer / 2;
    }

    @media screen and (max-width: $width-mobile) {
        max-width: $spacer * 6;
    }
}
