@import '../mixins/font-size';
@import '../mixins/line-height';
@import '../config/variables';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include font-size(4.8);
    @include line-height(4.4);

    margin-bottom: $spacer * 2;
    letter-spacing: -2px;

    @media screen and (max-width: $width-mobile) {
        @include font-size(3.8);
        @include line-height(3.6);

        margin-bottom: $spacer;
    }

    @media screen and (max-width: $width-mobile-small) {
        @include font-size(2.8);
        @include line-height(2.6);
    }
}

h2 {
    @include font-size(2.4);
    @include line-height(2.4);

    font-weight: normal;
    margin-bottom: $spacer * 2;

    @media screen and (max-width: $width-mobile) {
        @include font-size(1.8);
        @include line-height(2.2);

        margin-bottom: $spacer;
    }
}

h3 {
    @include font-size(2.4);
    @include line-height(2.6);

    margin-bottom: $spacer * 2;

    @media screen and (max-width: $width-mobile) {
        @include font-size(1.8);
        @include line-height(2);

        margin-bottom: $spacer;
    }
}

h4 {
    @include font-size(1.8);
    @include line-height(2.2);

    margin-bottom: $spacer;

    &::before {
        background: $color-primary;
        content: '';
        display: inline-block;
        height: 10px;
        margin-bottom: 1px;
        margin-right: $spacer / 2;
        width: 10px;
    }

    @media screen and (max-width: $width-mobile) {
        @include font-size(1.6);
        @include line-height(2);

        margin-bottom: $spacer/2;
    }
}
